{% extends "personal/base.html" %}

{% block title %}{{ page_intro.title }} - {{ site.full_name }}{% endblock %}
{% block body_class %}starter-page-page{% endblock %}

{% block main %}
{% include "personal/includes/page_title.html" with title=page_intro.title description=page_intro.description %}

<section id="starter-section" class="starter-section section">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-8">
        <div class="service-details">
          <h3>{{ site.career_objective }}</h3>
          <p>{{ site.about_body }}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-list">
          {% for certification in certifications %}
            <a href="#">{{ certification.title }}</a>
          {% endfor %}
          {% for language in languages %}
            <a href="#">{{ language.name }} - {{ language.proficiency }}</a>
          {% endfor %}
          {% for strength in strengths %}
            <a href="#">{{ strength.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
